@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
}
/* Mobile first 640px*/
.container{
    border-radius: 10px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 5px 5px 12px #dddcdd;
    background-color: #fcfcfc;
    width: 368px;
}
.imagem{
    border-radius: 10px;
    background-image: url(resources/Cactus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 152px;
    margin-bottom: 16px;
    
}
.tag{
    background-color: #E5EAF0;
    font-size: 10px ;
    padding: 6px 16px;
    font-weight: 600;
    border-radius: 16px;
    width: fit-content;
    color: #7C19EE;
    margin-bottom: 16px;
}
.title{
    color: #20293A;
    font-size: 18px ;
    font-weight: 600;
    margin-bottom: 6px;
}
.description{
    font-size: 14px;
    color: #394150;
    margin-bottom: 20px;
}
.line{
    margin: 0 -16px;
    height: 2px;
    background-color: #E5EAF0;
}
.sla{
    padding-top: 25px;
    font-size: 12px;
    color: #394150;
    margin-bottom: 20px;
}
.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color: rgb(55, 65, 81);
}
.author-info a {
    text-decoration: none;
}

@media screen and (max-width:400px) {
    .container{
    width: 300px;
}
}